
html, body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

#top {
    width: 100%;
    height: 100px;
    background: #F19733;
    padding: 20px 0;
}

#top h2 {
    line-height: 100px;
    margin: 0;
    padding-left: 40px;
    font-size: 60px;
    color: #f3f3f3;
    font-family: 'Ubuntu', sans-serif;
}

#main {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

li {
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: #F19733;
}

li a {
    display: block;
    padding: 10px 16px;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 2px;
}

#post_main {
    padding: 30px;
}

.date {
    font-size: 14px;
    color: gray;
    margin: 0 0 20px 0;
}

.title {
    font-size: 18px;
    margin: 0 0;
}

.content {
    margin: 0 0;
    font-size: 16px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.post-form {
    width: 600px;
}

#id_title,
#id_text {
    margin: 6px 0;
}

.post-form p input {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.post-form p textarea {
    width: 100%;
    font-size: 18px;
}