
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django | Post List</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="top">
            <h2>Basic-Django</h2>
        </div>

        <div id="main">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog.views.post_list' %}">Index</a></li>
                    <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
                    <li><a href="{% url 'blog.views.post_new' %}">New</a></li>
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}">[{{ user.username }}] Logout</a></li>
                {% else %}
                    <li><a href="{% url 'blog.views.post_list' %}">Index</a></li>
                    <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                {% endif %}
            </ul>
            <div id="post_main">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>